<div class="main-container">
    <div class="header">
        <div class="user-info">
            <span>Bienvenido, {{ getUserName() }}</span>
        </div>
        <div class="logout-button">
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    <div class="content-container">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="/home" routerLinkActive="active">Inicio</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/create-post" routerLinkActive="active">Crear Post</a>
            <a clrVerticalNavLink routerLink="/search-post" routerLinkActive="active">Buscar Post</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/search-user" routerLinkActive="active">Buscar Usuario</a>
            <a clrVerticalNavLink routerLink="/profile" routerLinkActive="active">Ver Perfil</a>
        </clr-vertical-nav>
        <div class="content-area">
            <h1>Datos Personales</h1>
            <table style="width: 100%;">
                <tr>
                    <th>Datos</th>
                    <th>Información</th>
                    <th>Carnet</th>
                    <th>Créditos</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td>{{ userData.nombres }}</td>
                    <td>{{ userData.apellidos }}</td>
                    <td>{{ userData.registro }}</td>
                    <td>{{ userData.creditos }}</td>
                    <td><button class="edit-button" clrVerticalNavLink routerLink="/add-course" routerLinkActive="active">Añadir cursos</button></td>
                </tr>
            </table>
            <h1>Cursos aprobados</h1>
            <table style="width: 100%;">
                <tr>
                    <th>Nombre del Curso</th>
                </tr>
            </table>
        </div>
    </div>
</div>