<div class="main-container">
    <div class="header">
        <div class="user-info">
            <span>Bienvenido, {{ getUserName() }}</span>
        </div>
        <div class="logout-button">
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    <div class="content-container">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="/home" routerLinkActive="active">Inicio</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/create-post" routerLinkActive="active">Crear Post</a>
            <a clrVerticalNavLink routerLink="/search-post" routerLinkActive="active">Buscar Post</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/search-user" routerLinkActive="active">Buscar Usuario</a>
            <a clrVerticalNavLink routerLink="/profile" routerLinkActive="active">Ver Perfil</a>
        </clr-vertical-nav>

        <div class="content-area">
            <h1>Inicio</h1>
            <div class="filters">
                <select [(ngModel)]="catedratico">
                    <option *ngFor="let option of catedraticos" [value]="option">{{ option }}</option>
                </select>
                <select [(ngModel)]="curso">
                    <option *ngFor="let option of cursos" [value]="option">{{ option }}</option>
                </select>
                <button (click)="filtrar()">Filtrar</button>
            </div>
            
            <div class="card-list">
                <ng-container *ngIf="filteredCards.length > 0; else noCardsMessage">
                    <div class="card" *ngFor="let card of filteredCards">
                        <p>No.Post: {{ card.id }}</p>
                        <p>Publicacion: {{ card.fecha }}</p>
                        <p>Usuario: {{ card.registro }}</p>
                        <p>Curso: {{ card.curso }}</p>
                        <p>Catedratico: {{ card.catedratico }}</p>
                        <button (click)="verPost(card.id)">Ver Post</button>
                    </div>
                </ng-container>
                <ng-template #noCardsMessage>
                    <p>Aún no hay publicaciones añadidas.</p>
                </ng-template>
              </div>
        </div>
    </div>
</div>





  
