.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2979b5;
  color: #fff;
}

.user-info {
  margin-left: 20px;
  font-weight: bold;
}

.logout-button {
  margin-right: 20px;
}

button {
  background-color: #fff;
  color: #2979b5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #195180;
  color: #fff;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex: 1; 
}

clr-vertical-nav {
  background-color: #195180;
  color: #fff;
  padding: 20px;
}

clr-vertical-nav a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

clr-vertical-nav a:hover {
  text-decoration: underline;
}

.nav-divider {
  margin: 10px 0;
  height: 1px;
  background-color: #fff;
}

.content-area {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; 
  color: #2979b5; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.filters {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
  justify-content: space-between; 
}

.filter-select,
.filter-button {
  flex: 1; 
  margin-right: 10px;
}

.filter-button:last-child {
  margin-right: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; 
  color: #2979b5; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.view-button {
  padding: 8px 16px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

h1 {
  text-align: center;
  color: #333;
}