<div class="main-container">
    <div class="header">
        <div class="user-info">
            <span>Bienvenido, {{ getUserName() }}</span>
        </div>
        <div class="logout-button">
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    <div class="content-container">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="/home" routerLinkActive="active">Inicio</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/create-post" routerLinkActive="active">Crear Post</a>
            <a clrVerticalNavLink routerLink="/search-post" routerLinkActive="active">Buscar Post</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/search-user" routerLinkActive="active">Buscar Usuario</a>
            <a clrVerticalNavLink routerLink="/profile" routerLinkActive="active">Ver Perfil</a>
        </clr-vertical-nav>
        <div class="content-area">
            <h1>Bienvenido</h1>
            <input type="text" class="search-input" style="width: 80%;" placeholder="ingrese nombre de usuario">
            <button class="search-button">Search</button>
        </div>
    </div>
</div>

