.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2979b5;
  color: #fff;
}

.user-info {
  margin-left: 20px;
  font-weight: bold;
}

.logout-button {
  margin-right: 20px;
}

button {
  background-color: #fff;
  color: #2979b5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #195180;
  color: #fff;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex: 1; 
}

clr-vertical-nav {
  background-color: #195180;
  color: #fff;
  padding: 20px;
}

clr-vertical-nav a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

clr-vertical-nav a:hover {
  text-decoration: underline;
}

.nav-divider {
  margin: 10px 0;
  height: 1px;
  background-color: #fff;
}

.content-area {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  color: #2979b5;
}

/* Estilos CSS para centrar la barra de búsqueda y personalizar colores */
.search-box {
text-align: center;
margin-top: 20px; /* Ajusta el margen superior según tu preferencia */
}

.search-box input[type="text"] {
padding: 10px;
width: 300px; /* Ancho del cuadro de búsqueda */
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

.search-box button {
padding: 10px 20px;
background-color: #007bff; /* Color de fondo del botón */
color: #fff; /* Color del texto del botón */
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

.search-box button:hover {
background-color: #0056b3; /* Cambia el color de fondo en el hover */
}

/* Estilos CSS para los resultados de la búsqueda */
.search-results {
margin-top: 20px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 500px;
background-color: #f7f7f7;
}


