<div class="main-container">
    <div class="header">
        <div class="user-info">
            <span>Bienvenido, {{ getUserName() }}</span>
        </div>
        <div class="logout-button">
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    <div class="content-container">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="/home" routerLinkActive="active">Inicio</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/create-post" routerLinkActive="active">Crear Post</a>
            <a clrVerticalNavLink routerLink="/search-post" routerLinkActive="active">Buscar Post</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/search-user" routerLinkActive="active">Buscar Usuario</a>
            <a clrVerticalNavLink routerLink="/profile" routerLinkActive="active">Ver Perfil</a>
        </clr-vertical-nav>
        <div class="content-area">
            <h1>BUSCAR USUARIO</h1>
            <form (ngSubmit)="buscarUsuario()" #userForm="ngForm">
                <label for="nombre">Registro Académico:</label>
                <input type="text" id="nombre" name="nombre" required [(ngModel)]="registro">
                <button (click)="buscarUsuario()" class="boton-especial" type="submit">Buscar Usuario</button>
            </form>

            <div class="search-results">
                <ng-container *ngIf="results.length > 0; else noResultsMessage">
                    <div class="card" *ngFor="let result of results">
                        <p>Registro: {{ result.registro }}</p>
                        <p>Nombre: {{ result.nombre }}</p>
                        <button (click)="verUsuario(result.registro)">Ver Usuario</button>
                    </div>
                </ng-container>
                <ng-template #noResultsMessage>
                    <p>No se encontraron resultados.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>

