<div class="main-container">
    <div class="header">
        <div class="user-info">
            <span>Bienvenido, {{ getUserName() }}</span>
        </div>
        <div class="logout-button">
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    <div class="content-container">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="/home" routerLinkActive="active">Inicio</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/create-post" routerLinkActive="active">Crear Post</a>
            <a clrVerticalNavLink routerLink="/search-post" routerLinkActive="active">Buscar Post</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/search-user" routerLinkActive="active">Buscar Usuario</a>
            <a clrVerticalNavLink routerLink="/profile" routerLinkActive="active">Ver Perfil</a>
        </clr-vertical-nav>
        <div class="content-area">
            <h1>Agregar cursos aprobados</h1>
            <table style="width: 100%;">
                <tr>
                    <th>Nombre del Curso</th>
                </tr>
            </table>
            <div class="dropdown-container">
                <label for="curso" style="margin-right: 22px;">Cursos del Usuario</label>
                <select [(ngModel)]="cursos" class="toggle-dropdown" style="margin-top: 75px;">
                    <option *ngFor="let option of cursos" [value]="option">{{ option }}</option>
                </select>
            </div>
            <div class="add-button-container" style="margin-top: 20px;"> 
                <button class="edit-button">Agregar</button>
            </div>
        </div>
    </div>
</div>

