<header class="header-5">
    <div class="branding">
        <a href="..." class="nav-link">
            <cds-icon shape="vm-bug"></cds-icon>
            <span class="title">Clarity Design</span>
        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/login" class="nav-link" aria-current="page"><span class="nav-text">Dashboard</span></a>
        <a routerLink="/recovery-password" class="active nav-link"><span class="nav-text">Interactive Analytics</span></a>
        <a routerLink="/create-user" class="nav-link"><span class="nav-text">Interactive Analytics</span></a>
    </div>
</header>
