<!-- Formulario -->
<div class="clr-form-container">
    <div class="logo-container">
        <img src="/assets/images/logo_azul.png" alt="Logo de la organización">
        <h1>Cambiar Contraseña</h1>
    </div>
    
    <form class="clr-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="clr-form-control" [ngClass]="{'clr-error': username.invalid && (username.dirty || username.touched)}">
            <label for="username" class="clr-control-label">Registro Académico</label>
            <input type="text" id="username" name="username" class="clr-input" [(ngModel)]="formData.username" required #username="ngModel">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="clr-subtext-error">Obligatorio</div>
        </div>

        <div class="clr-form-control" [ngClass]="{'clr-error': correo.invalid && (correo.dirty || correo.touched)}">
            <label for="correo" class="clr-control-label">Correo</label>
            <input type="text" id="correo" name="correo" class="clr-input" [(ngModel)]="formData.correo" required #correo="ngModel">
            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="clr-subtext-error">Obligatorio</div>
        </div>

        <div class="clr-form-control" [ngClass]="{'clr-error': password.invalid && (password.dirty || password.touched)}">
            <label for="password" class="clr-control-label">Contraseña</label>
            <input type="password" id="password" name="password" class="clr-input" [(ngModel)]="formData.password" required #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="clr-subtext-error">Obligatorio</div>
        </div>

        <div class="clr-form-control">
            <label for="passwordConfirm" class="clr-control-label">Verificar Contraseña</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="clr-input" [(ngModel)]="formData.passwordConfirm" required #passwordConfirm="ngModel">
            <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="clr-subtext-error">Obligatorio</div>
            <div *ngIf="formData.password !== formData.passwordConfirm" class="clr-subtext-error">Las contraseñas no coinciden</div>
        </div>

        <div class="clr-form-actions">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>

        <div *ngIf="message" class="alert" [ngClass]="{'clr-error': (response.mensaje === '0' ||  response.mensaje === '2' ) , 'clr-success': response.mensaje === '1'}">
            {{ message }}
        </div>

        <div class="clr-form-actions">
            <a routerLink="/login" class="registro-link">« Regresar al inicio de sesión</a>
        </div>
 
    </form>
</div>
  