.clr-form-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background: linear-gradient(to top, #BFEFFF, #F0F8FF)
}

.clr-form {
    width: 500px; 
}

.clr-form-control {
    margin-bottom: 20px; 
}

.clr-form-control label {
    display: block;
    margin-bottom: 5px;
}

.clr-input {
    width: 100%; 
}

.clr-form-actions {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
}

.button-container {
    display: flex;
    justify-content: space-between; 
}

.button-container button {
    width: 100%;
    margin-right: 10px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 500px; 
    height: auto;
}

.registro-link {
    text-decoration: none;
    color: #2979b5;
    font-weight: bold;
    font-size: 35px; 
}

.registro-link:hover {
    text-decoration: underline;
}

h1 {
    color: #2979b5;
}