<div class="main-container">
    <div class="header">
        <div class="user-info">
            <span>Bienvenido, {{ getUserName() }}</span>
        </div>
        <div class="logout-button">
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    <div class="content-container">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="/home" routerLinkActive="active">Inicio</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/create-post" routerLinkActive="active">Crear Post</a>
            <a clrVerticalNavLink routerLink="/search-post" routerLinkActive="active">Buscar Post</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/search-user" routerLinkActive="active">Buscar Usuario</a>
            <a clrVerticalNavLink routerLink="/profile" routerLinkActive="active">Ver Perfil</a>
        </clr-vertical-nav>
        <div class="content-area">
            <h1>CREAR POST</h1>
            <form action="#" method="POST">
                <label for="categoria">categoria:</label>
                <select id="categoria" name="categoria">
                    <option value="Curso">Curso</option>
                    <option value="Catedratico">Catedratico</option>
                </select>
                <label for="nombre">Nombre:</label>

                <input type="text" id="nombre" name="nombre" required>

                <label for="postContent">Escribe tu publicacion:</label>
                <textarea id="postContent" name="postContent" rows="5" placeholder="Escribe tu publicacion..."></textarea>
    
                <label for="fecha">fecha:</label>
                <input type="date" id="postDate" name="postDate" required>
    
                <button type="submit">publicar</button>
            </form>
        </div>
    </div>
</div>

